on:
  push:

jobs:
  check_and_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v6
      with:
        go-version: '1.24'
    - uses: golangci/golangci-lint-action@v9
      with:
        version: latest
    - run: make test
